# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://joelamrom:Joel%232003@cluster0joel.bwr2yp0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0Joel
MONGODB_DB_NAME=goldberger-family-db

# Application Configuration
NODE_ENV=development
PORT=3000

# Security
JWT_SECRET=your-super-secret-jwt-key-here
